html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $text;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $text;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 30px;
}

@media(max-width:720px) {
    .container-fluid {
        padding: 0px 15px;
    }
}

.title {
    text-align: center;
    margin-bottom: 30px;
    color: $bg;
    @include f700;
    font-size: 36px;
    line-height: 60px;
}

.rate-star {
    display: inline-block;
    margin-right: 13px;
}

.angle-right {
    position: relative;
    padding-left: 15px;
    &::before {
        content: '\f105';
        font-family: 'icomoon';
        position: absolute;
        left: 0;
        color: $green;
        font-size: 14px;
    }
}