@media(max-width:1200px) {
    .withdrawals__inner {
        display: block;
    }
    .withdrawals__col {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .withdrawals__content-item {
        max-width: 490px;
    }
    .contact__form input {
        width: 100%;
    }
    .contact__form-row {
        display: block;
    }
}

@media(max-width:1150px) {
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__col-adress {
        margin-bottom: 30px;
        min-width: 100%;
    }
    .header__text {
        display: none;
    }
    .header__box {
        z-index: 2;
    }
    .settings__line .setting-btn {
        margin-left: -65px;
    }
}

@media(max-width:1020px) {
    .product-one__tabs.settings__tabs {
        display: block;
    }
    .product-one__tabs.settings__tabs .tabs {
        margin-bottom: 20px;
        max-width: 100%;
    }
}

@media(max-width:960px) {
    .page-404__404::after {
        background-size: cover;
        width: 50px;
        height: 97px;
        top: 240px;
    }
}

@media(max-width:900px) {
    .footer__col-social {
        min-width: 100%;
        margin-top: 30px;
    }
    .footer__inner {
        justify-content: flex-start;
    }
    .footer__col-menu {
        &+& {
            margin-left: 50px;
        }
    }
    .settings__line .setting-btn {
        width: 100%;
        margin-left: 0px;
    }
    .contact__box {
        display: block;
    }
    .profile__content {
        order: -1;
        margin-bottom: 20px;
    }
    .profile__inner {
        flex-direction: column;
    }
    .profile__aside {
        max-width: 100%;
        .aside__item {
            width: 100%;
        }
    }
    .prodile__aside-btn {
        width: 300px;
    }
}

@media(max-width:840px) {
    .menu__list {
        display: none;
        background-color: $bg;
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        z-index: 1;
        padding-bottom: 30px;
        text-align: center;
        a {
            display: block;
            padding: 10px 0;
            border-bottom: 1px solid #fff;
        }
        li {
            display: block;
            &+li {
                margin-left: 0;
            }
            &:first-child {
                border-top: 1px solid #fff;
            }
        }
    }
    .menu__btn {
        display: block;
        width: 30px;
        div {
            background-color: #fff;
            height: 3px;
            &+div {
                margin-top: 5px;
            }
        }
    }
    .upload-line {
        display: block;
        label {
            margin-bottom: 5px;
            display: inline-block;
        }
    }
    .upload__inner button {
        margin-left: 0;
    }
}

@media(max-width:740px) {
    .page-404__404 {
        font-size: 200px;
        line-height: 200px;
        &::after {
            top: 150px;
        }
    }
    .page-404__title {
        font-size: 24px;
        margin-bottom: 20px;
        line-height: 30px;
    }
    .page-404__text {
        font-size: 15px;
        margin-bottom: 40px;
    }
    .page-404__link {
        padding: 10px 30px 6px;
    }
}

@media(max-width:640px) {
    .notification__box,
    .message__box {
        display: none;
    }
    .circle__menu {
        right: auto;
    }
    .profile__banner-img {
        min-height: 245px;
    }
    .profile__items {
        display: block;
    }
    .profile__item {
        width: 100%;
    }
    .profile__item+.profile__item {
        border-left: none;
        border-top: 1px solid #dedede;
    }
    .profile__banner {
        margin-bottom: 20px;
    }
}

@media(max-width:600px) {
    .container {
        padding: 0 8px;
    }
    .page-404__inner {
        padding: 0px 15px;
    }
    .page-404__404 {
        font-size: 120px;
        line-height: 120px;
    }
    .page-404__404::after {
        top: 5px;
        right: -10px;
    }
    .upload__inner-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .upload__inner-title {
        padding: 16px 10px 18px;
    }
    .settings__line {
        display: block;
        label {
            display: inline-block;
            margin-bottom: 5px;
        }
    }
    .page-box__content {
        padding: 20px 10px 50px;
    }
    .page-box__title {
        padding: 18px 14px;
        font-size: 22px;
    }
    .contact__inner {
        padding: 35px 10px 15px;
    }
    .contact__head {
        padding-left: 10px;
        padding-right: 10px;
    }
    .contact__map iframe {
        height: 300px;
        width: 100%;
    }
    .personal__box {
        padding: 35px 10px 25px;
    }
    .prodile__aside-btn {
        width: 280px;
    }
}

@media(max-width:540px) {
    .footer__col {
        min-width: 100%;
    }
    .footer__col-menu {
        &+& {
            margin-left: 0px;
            margin-top: 30px;
        }
    }
    .search__inner-title {
        font-size: 38px;
        line-height: 50px;
    }
    .search {
        min-height: 435px;
    }
    .search__inner {
        padding: 85px 0px 45px;
    }
    .search__inner-text {
        margin-bottom: 26px;
    }
    .withdrawals__content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .withdrawals__content-item {
        min-width: 490px;
    }
    .withdrawals__content-items {
        overflow-x: scroll;
    }
}

@media(max-width:520px) {
    .header__btn-menu {
        display: block;
    }
    .header__btn-menu {
        z-index: 3;
        width: 70px;
        height: 70px;
        background-color: $bg;
        position: absolute;
        right: 0;
        top: 0;
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'icomoon';
            font-size: 36px;
            color: #fff;
        }
    }
    .header__box {
        transition: all .5s;
        position: absolute;
        background-color: #fff;
        left: 100%;
        right: -100%;
        z-index: 2;
        height: 70px;
        &.active {
            left: 70px;
            right: 90px;
        }
    }
    .header__logo {
        margin-left: 60px;
    }
    .menu__btn {
        position: absolute;
        top: 24px;
        div {
            background-color: $bg;
        }
    }
    .header__top-inner {
        height: 70px;
    }
    .circle__menu {
        top: 52px;
    }
    .user__menu {
        top: 59px;
    }
    .menu__list {
        top: 70px;
    }
}

@media(max-width:495px) {
    .user__info {
        display: none;
    }
    .user__img {
        margin-right: 0;
    }
    .user__box {
        margin-top: 50px;
    }
    .user__menu {
        top: 55px;
    }
    .about__head {
        padding: 23px 10px;
    }
    .about__inner {
        padding: 0 10px;
    }
    .about__box h3 {
        font-size: 24px;
    }
}

@media(max-width:390px) {
    .header__box {
        &.active {
            left: 47px;
        }
    }
    .basket__box {
        margin-left: 10px;
        margin-right: 0;
    }
    .user {
        margin-right: 0;
    }
    .basket {
        margin-right: 10px;
    }
    .header__btn-Register,
    .header__btn-Logout {
        margin-left: 7px;
    }
    .header__logo {
        margin-left: 50px;
    }
    .search__inner-title {
        font-size: 32px;
        line-height: 50px;
    }
    .search__inner-text {
        font-size: 15px;
    }
}

@media (max-width:360px) {
    .circle__menu {
        left: -25px;
    }
    .withdrawals__title {
        font-size: 20px;
        padding: 18px 25px 24px;
    }
    .footer__inner {
        padding-top: 65px;
    }
}

@media(min-width:841px) {
    .menu__list {
        display: block !important;
    }
}